@mixin button($type){

$button-accueil-width: 250px;
$button-menu-width: 210px;

    .components-button{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16.75px 26.5px;
        border-radius: 30px;
        border: none;
        margin: 0 auto 15px auto;
        box-sizing: border-box;
        @if ($type == quote('accueil')){
            width: $button-accueil-width;
        } @else if ($type == quote('menu')){
            width: $button-menu-width;
        }  @else{
            &::after{
                content: "UNDEFINED";
            }
        }

        &--paint{
            @include box-shadow-v3(0px, 5px, 8px, map-get($box-shadow-color, two));
            background: $button-degraded;
        }
           
        &__message{
            font-size: rem(18px);
            color: white;
        }

        &:hover{
            cursor: pointer;
        }
    }
}
