.button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16.75px 27.5px;
    border-radius: 30px;
    border: none;
    margin-bottom: 15px;

    &--paint{
        background: linear-gradient(map-get($color-client, secondary), map-get($color-client, primary));
        box-shadow: 0px 5px 8px 0px map-get($box-shadow-color, two);

        span{
            font-size: rem(18px);
            color: white;
        }
    }
}