img[class*="components-card-control"]{
    object-fit: cover;
}

/*Images des CARDS de la page d'accueil*/
.components-card-control-accueil-1{
    object-position: 50% calc(100% - 2px);
    width: 100%;
    height: 100%;
}

.components-card-control-accueil-2{
    object-position: 50% 61%;
    width: 100%;
    height: 100%;
}

.components-card-control-accueil-3{
    object-position: 50% 100%;
    width: 100%;
    height: 100%;
}

.components-card-control-accueil-4{
    object-position: 50% 100%;
    width: 100%;
    height: 100%;
}

/*Images des CARDS des pages menu*/
.components-card-control-menu-1{
    object-position: 50% 100%;
    width: 100%;
    height: 100%;
}

.components-card-control-menu-2{
    object-position: 50% 50%;
    width: 100%;
    height: 100%;
}

.components-card-control-menu-3{
    object-position: 50% 100%;
    width: 100%;
    height: 100%;
}

.components-card-control-menu-4{
    object-position: 50% 100%;
    width: 100%;
    height: 100%;
}