@mixin love-menu($type) {

    $love-accueil-margin: 0 14px 15px 0;
    $love-accueil-fontSize: rem(13px);
    $love-menu-margin: 0 27px 0 0;
    $love-menu-fontSize: rem(14px);

    .components-love-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        @if ($type == quote('accueil')){
            margin: $love-accueil-margin;
            font-size: $love-accueil-fontSize;
        } @else if ($type == quote('menu')){
            margin: $love-menu-margin;
            font-size: $love-menu-fontSize;
        } @else{
            &::after{
                content: "UNDEFINED";
            }
        }

        &__empty{
            position: absolute;
            cursor: pointer;
        }
        
        &__filled{
            position: absolute;
            cursor: pointer;
            opacity: 0;
        }
    }

    // Effet de remplissement du bouton j'aime au survol de la souris
    .components-love-menu:hover .components-love-menu__empty{
        transition: color 1s ease-in-out;
        color: transparent;
    }
    // Effet de pulsion du bouton j'aime au survol de la souris
    .components-love-menu:hover .components-love-menu__filled{
        transition: opacity 0.8s ease-in-out;
        opacity: 1;
        background: $love-degraded;
        background-clip: text;
        -webkit-background-clip: text;
        //-webkit-text-fill-color: transparent;
        color: transparent;
        animation-name: thrill;
        animation-duration: 8s;
        animation-delay: 3s;
        animation-iteration-count: 3;
    }

    @keyframes thrill {
        0%, 22.5% {
          transform: scale(1.1);
        }

        5%, 10%, 15%, 20% {
            transform: scale(1.2);
        }
      
        7.5%, 12.5%, 17.5%, 40% {
          transform: scale(1);
        }
    }

    // Effet de contraste et arrêt de l'animation du bouton j'aime au clique de la souris
    .components-love-menu:active .components-love-menu__filled{
        animation: none;
        background: $love-degraded;
        background-clip: text;
        -webkit-background-clip: text;
        //-webkit-text-fill-color: transparent;
        color: transparent;
        transition: filter 0.5s ease-in-out;;
        filter: contrast(150%);
    }
}


