/*PARTIE 5 (ACCUEIL ET MENU): PIED-DE-PAGE*/
.footer{
    padding: 28px 25px 30px 25px;

    @media screen and (min-width: $size-start-tablet) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &--paint{
        background-color: map-get($background-color, four);
    }

    &__logo{
        width: 110px;
        margin-bottom: 20px;
    }

    &__item{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        color: white;

        &__illustration{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 18px;
            height: 12px;
            margin-right: 10px;
            color: inherit;
        }

        &__text{
            color: inherit;
            font-size: rem(17px);
            font-weight: bold;
        }
    }
}

/***TRANSITION ET ANIMATION***/ 
/*Changement de la couleur du texte de la partie "PIED-DE-PAGE" au survol de la souris*/
.footer__item:hover{
    transition: color 0.5s;
    color: map-get($color-client, third);
}
