/*PARTIE 5 (ACCUEIL ET MENU): PIED-DE-PAGE*/
.footer{
    padding: 28px 25px 30px 25px;
    color: white;

    @media screen and (min-width: 500px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &--paint{
        background-color: map-get($background-color, four);
    }

    &__logo{
        width: 110px;
        margin-bottom: 20px;
    }

    &__item{
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        &__illustration{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 18px;
            height: 12px;
            margin-right: 10px;
        }

        a{
            color: inherit;
            font-size: rem(17px);
            font-weight: bold;
        }
    }
}