/***Règles générales***/
*{
    padding: 0;
    margin: 0;
}

html{
    font-size: 100%;
}

body{
    width: 100%;
    min-width: 319px;
}

a, p, span, h1, h2, h3, h4, h5, h6, ::placeholder{
    font-weight: normal;
    font-size: medium;
}

a, p, span, h3, h4, h5, h6, ::placeholder{
    font-family: map-get($font-family, texts);
}

h1, h2{
    font-family: map-get($font-family, titles);
    font-weight: normal;
}

a, a:hover, a:active{
    text-decoration: none;
    color: black;
}

button, input{
    outline: none;
}

@media screen and (max-width: 380px){
    :root{
        font-size: 14px;
    }

    body{
        font-size: 14px;
    }
}

@media screen and (max-width: 350px){
    :root{
        font-size: 12px;
    }

    body{
        font-size: 12px;
    }
}

